{% extends "personal/header.html" %}

{% block content %}

<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="http://i2.cdn.turner.com/cnnnext/dam/assets/150402075701-facial-beauty-2-small-11.png" alt="friend's image">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Paige Hanna</h4>
    <div class="panel panel-default">
      <div class="panel-body">
        Ice Cube - Hood mentality  
      </div>
    </div>
  </div>
</div>

{% endblock %}